.advantages {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
}

.advantages__wrapper {
  padding: 0 20px;
}

.advantages > li:nth-child(3) {
  padding: 0 38px;
}

.advantages > li:nth-child(4) {
  padding: 0 51px;
}

.advantages > li:nth-child(5) {
  padding: 0 33px;
}

.advantages__wrapper ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages__item .advantages__wrapper {
  background-color: #81b3d2;
}

.advantages__wrapper .advantages__title {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  padding-top: 56px;
}

.advantages__wrapper .advantages__number {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  padding-top: 10px;
}

.advantages__wrapper .advantages__description {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 40px;
}

.advantages__item .advantages__wrapper--detail {
  background-color: #ffffff;
  min-height: 210px;
}

.advantages__wrapper--detail ul {
  margin-left: 50px;
}

.advantages__wrapper--detail .advantages__title {
  color: #000000;
  text-align: left;
  padding-top: 33px;
}

.advantages__wrapper--detail .advantages__title:first-child {
  padding-top: 28px;
}

.advantages__wrapper--detail .advantages__description {
  color: #333333;
  text-align: left;
  padding: 0;
  padding-top: 15px;
}

.advantages__wrapper--detail .advantages__detail:nth-child(3) {
  padding-bottom: 36px;
}

.advantages__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  margin: 0;
  padding-top: 20px;
  text-align: center;
}

.advantages__number {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  margin: 0;
  padding-top: 8px;
  text-align: center;
}

.advantages__description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 36px;
  text-align: center;
}

.advantages__item:nth-child(5) .advantages__description {
  padding-bottom: 28px;
}

.advantages__item:first-child {
  position: relative;
  background-color: #ffffff;
}

.advantages__item:first-child::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 17px;
  background-image: url("../img/bg-triangle.svg");
  background-repeat: no-repeat;
  background-position: 0% 100%;
}

.advantages__detail {
  position: relative;
}

.advantages__detail--lodging::before {
  content: "";
  position: absolute;
  left: -52px;
  top: 20px;
  width: 40px;
  height: 40px;
  background-image: url("../img/icon-house.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.advantages__detail--souvenirs::before {
  content: "";
  position: absolute;
  left: -52px;
  top: 20px;
  width: 40px;
  height: 40px;
  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.advantages__detail--food::before {
  content: "";
  position: absolute;
  left: -52px;
  top: 20px;
  width: 40px;
  height: 40px;
  background-image: url("../img/icon-burger.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.advantages__item {
  position: relative;
}

.advantages__item:nth-child(3)::after {
  content: "";
  position: absolute;
  bottom: 7px;
  left: 50%;
  transform: translateX(-50%);
  width: 280px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}

.advantages__item:nth-child(4)::after {
  content: "";
  position: absolute;
  bottom: 7px;
  left: 50%;
  transform: translateX(-50%);
  width: 280px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}

.advantages__container {
  position: relative;
  overflow: hidden;
  width: 320px;
  height: 260px;
}

.advantages__photo {
  position: absolute;
  left: 50%;
  top: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
}

@media (min-width: 768px) {
  .advantages {
    display: flex;
    flex-wrap: wrap;
    margin-top: 26px;
  }

  .advantages__container {
    width: 67%;
    height: 256px;
  }

  .advantages__item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .advantages__item:first-child::before {
    display: none;
  }

  .advantages__wrapper {
    width: 33%;
    height: 256px;
    padding: 0;
  }

  .advantages__item:nth-child(5) .advantages__description {
    padding-bottom: 44px;
  }

  .advantages__description {
    padding-top: 22px;
    padding-bottom: 44px;
  }

  .advantages__item:nth-child(1) .advantages__wrapper:first-child {
    padding: 0 42px;
  }

  .advantages__item:nth-child(2) .advantages__wrapper:first-child {
    padding: 0 42px;
  }

  .advantages__wrapper--detail {
    width: 100%;
    height: 330px;
  }

  .advantages__item:nth-child(2) .advantages__photo {
    order: 2;
  }

  .advantages__photo {
    width: 67%;
    height: 256px;
  }

  .advantages__item:nth-child(2) .advantages__wrapper {
    order: 3;
  }

  .advantages__wrapper ul {
    display: flex;
    width: 100%;
    margin: 0;
  }

  .advantages__detail {
    width: 33%;
    height: 330px;
    padding: 0 42px;
    padding-top: 130px;
  }

  .advantages__detail:nth-child(3) {
    padding: 0 50px;
    padding-top: 130px;
  }

  .advantages__wrapper--detail .advantages__detail--food {
    order: 2;
  }

  .advantages__wrapper--detail .advantages__detail--souvenirs {
    order: 3;
  }

  .advantages__wrapper--detail .advantages__title {
    text-align: center;
  }

  .advantages__wrapper--detail .advantages__description {
    text-align: center;
  }

  .advantages__wrapper .advantages__description {
    padding-top: 20px;
  }

  .advantages > .advantages__item:nth-child(3) {
    width: 33%;
    height: 256;
    padding: 0 46px;
    display: flex;
    flex-direction: column;
  }

  .advantages > .advantages__item:nth-child(4) {
    width: 33%;
    height: 256px;
    padding: 0 60px;
    display: flex;
    flex-direction: column;
  }

  .advantages > .advantages__item:nth-child(5) {
    width: 33%;
    height: 256px;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
  }

  .advantages__item:nth-child(3)::after,
  .advantages__item:nth-child(4)::after {
    display: none;
  }

  .advantages__title {
    font-size: 21px;
    padding-top: 45px;
  }

  .advantages__wrapper .advantages__title {
    font-size: 21px;
    padding-top: 45px;
  }

  .advantages__detail--lodging::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 60px;
    width: 74px;
    height: 74px;
    background-image: url("../img/icon-house.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
  }

  .advantages__detail--souvenirs::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 56px;
    width: 74px;
    height: 74px;
    background-image: url("../img/icon-gift.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
  }

  .advantages__detail--food::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 60px;
    width: 74px;
    height: 74px;
    background-position: 0 0;
    background-repeat: no-repeat;
  }
}

@media (min-width: 1200px) {
  .advantages__wrapper .advantages__title {
    width: 180px;
    margin: 0 auto;
    padding-top: 51px;
  }

  .advantages__title {
    width: 160px;
    margin: 0 auto;
  }
}
