@font-face {
  font-family: "PT Sans";
  font-display: swap;
  src:
    local("PT Sans Regular"),
    url("../fonts/ptsans.woff") format("woff"),
    url("../fonts/ptsans.woff2") format("woff2");
  font-weight: regular;
}

@font-face {
  font-family: "PT Sans";
  font-display: swap;
  src:
    local("PT Sans Bold"),
    url("../fonts/ptsansbold.woff") format("woff"),
    url("../fonts/ptsansbold.woff2") format("woff2");
  font-weight: bold;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #ffffff;
  text-transform: uppercase;
  width: 320px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


@media (min-width: 768px) {
  body {
    width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  body {
    width: 1200px;
    margin: 0 auto;
  }
}
