.button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2;
  text-align: center;
  display: block;
  padding-top: 18px;
  padding-bottom: 19px;
  width: 280px;
  margin: 0 auto;
  margin-top: 27px;
  margin-bottom: 50px;
}

.modal__button {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
}

.modal__button--width--small {
  width: 180px;
}
