.copyright {
  margin-top: 40px;
  margin-bottom: 24px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.copyright__logo svg:hover,
.copyright__logo svg:focus {
  fill: #81b3d2;
}

.copyright__logo svg:active {
  fill: rgba(0, 0, 0, 0.3);
}

.copyright__text {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  font-style: normal;
  margin-right: 10px;
  margin-top: 4px;
}

@media (min-width: 768px) {
  .copyright {
    margin-top: 6px;
    margin-left: 122px;
  }

  .copyright__text {
    margin-right: 13px;
    margin-top: 4px;
  }
}

@media (min-width: 1200px) {
  .copyright {
    margin-left: 276px;
  }

  .copirite__text {
    margin-right: 12px;
  }

  .copyright--form {
    margin-top: 4px;
  }
}
