.page-footer {
  background-color: #fefefe;
}

.hashtag {
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  margin-top: 39px;
}

.social {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 39px;
  text-align: center;
}

.copyright {
  margin-top: 40px;
  margin-bottom: 24px;
  text-align: center;
}

.copyright__text {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  font-style: normal;
}

.form-page .hashtag {
  margin-top: 75px;
}
