.form {
  background-color: #ffffff;
  padding: 0 20px;
  position: relative;
}

.form__group {
  border: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.form__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.form__group:nth-child(2) .form__title::before {
  top: 5px;
  left: -41px;
}

.form__group:nth-child(3) .form__title::before {
  top: 15px;
  left: -43px;
}

.form__group:nth-child(4) .form__title::before {
  left: -20px;
}

.form__group:nth-child(5) .form__title::before {
  left: -52px;
}

.form__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

.form__title::before {
  content: "";
  position: absolute;
  top: 0;
  left: -90px;
  width: 320px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
}

.form__group:nth-child(2) .form__title {
  padding-top: 24px;
  padding-bottom: 20px;
}

.form__group:nth-child(3) .form__title {
  padding-top: 35px;
}

.form__group:nth-child(5) .form__title {
  padding-top: 19px;
  padding-bottom: 16px;
}

.form__item {
  margin: 20px 0;
}

.form__label {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}

.form__label--weight--bold {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: none;
}

.form__info {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: none;
  background-color: #f2f2f2;
  border: none;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 22px;
}

.form__info::placeholder {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: none;
}

.form__comment {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: none;
  background-color: #f2f2f2;
  border: none;
  padding-top: 16px;
  padding-left: 22px;
  width: 280px;
  min-height: 160px;
}

.form__comment::placeholder {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: none;
}

.form__info:hover,
.form__comment:hover, {
  background-color: #e5e5e5;
}

.form__info:focus,
.form__comment:focus {
  background-color: #ffffff;
  box-shadow: inset 0 0 0 4px #e5e5e5;
  outline: none;
}

.form__button {
  border: none;
  text-transform: uppercase;
}

.form__note {
  display: none;
}

.form__group:nth-child(1) .form__item {
  display: flex;
  width: 280px;
}

.form__group:nth-child(1) .form__item:first-child {
  margin-top: 0;
}

.form__group:nth-child(1) .form__info {
  min-width: 192px;
  max-width: 230px;
  flex-grow: 1;
  margin-left: 15px;
}

.form__group:nth-child(1) .form__label {
  flex-shrink: 0;
  padding-top: 16px;
}

.form__group:nth-child(2) .form__item {
  display: flex;
  flex-direction: column;
  width: 280px;
  position: relative;
  margin: 0;
  padding-bottom: 12px;
}

.form__group:nth-child(2) .form__info {
  width: 222px;
}

.form__group:nth-child(2) .form__label {
  padding-left: 21px;
  padding-bottom: 7px;
}

.form__group:nth-child(2) .form__item:first-child::before {
  content: "";
  position: absolute;
  top: 33px;
  right: 1px;
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.form__group:nth-child(2) .form__item:last-child::before {
  content: "";
  position: absolute;
  top: 33px;
  right: 1px;
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
  background-image: url("../img/icon-mail.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.form__group:nth-child(3) .form__item {
  position: relative;
  margin: 0;
  padding-bottom: 42px;
}

.form__group:nth-child(3) .form__item:first-child {
  margin: 0;
  padding-top: 18px;
}

.form__group:nth-child(3) .form__label {
  width: 280px;
  padding-left: 79px;
  display: block;
  cursor: pointer;
}

.form__radio + .form__label::before {
  content: "";
  position: absolute;
  top: -14px;
  left: 0;
  width: 56px;
  height: 56px;
  background-color: #f2f2f2;
  border-radius: 50%;
}

.form__radio:checked + .form__label::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 17px;
  width: 22px;
  height: 22px;
  background-color: #333333;
  border-radius: 50%;
}

.form__group:nth-child(4) .form__item {
  position: relative;
  margin: 0;
  padding-top: 12px;
  padding-bottom: 42px;
}

.form__group:nth-child(4) .form__label {
  padding-left: 79px;
  display: block;
  cursor: pointer;
}

.form__checkbox + .form__label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  width: 56px;
  height: 56px;
  background-color: #f2f2f2;
  border-radius: 10%;
}

.form__checkbox:checked + .form__label::after {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  width: 56px;
  height: 56px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.form__radio:hover + .form__label::before,
.form__radio:focus + .form__label::before,
.form__checkbox:hover + .form__label::before,
.form__checkbox:focus + .form__label::before {
  background-color: #e5e5e5;
}

.form__radio:active + .form__label::before,
.form__checkbox:active + .form__label::before {
  background-color: #d5d5d5;
}

.form__radio:active + .form__label::after {
  background-color: #a4a4a4;
}

.form__checkbox:active + .form__label::after {
  opacity: 0.3;
}

@media (min-width: 768px) {
  .form {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    padding: 0 8%;
    justify-content: space-between;
    margin-bottom: 98px;
  }


  .form__group {
    margin: 0;
  }

  .form__group:nth-child(1) {
    order: 2;
    width: 37%;
    margin-left: auto;
  }

  .form__group:nth-child(2) {
    order: 3;
    width: 100%;
  }

  .form__group:nth-child(3) {
    order: 1;
    width: 37%;
  }

  .form__group:nth-child(1) .form__item {
    width: 265px;
  }

  .form__group:nth-child(2) .form__item {
    width: 100%;
    padding-bottom: 24px;
  }

  .form__group:nth-child(2) .form__item::before {
    width: 9%;
  }

  .form__group:nth-child(4) {
    order: 4;
    width: 100%;
  }

  .form__group:nth-child(5) {
    order: 5;
    width: 100%;
  }

  /*.form .form__button {
    order: 6;
    width: 50%;
    margin-left: 0;
    margin-right: 0 auto;
  }*/

  .form .form__note {
    display: block;
    order: 7;
    width: 50%;
    margin-left: auto;
    margin-top: 73px;
    text-align: right;
  }

  .form__group:nth-child(4) .form__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: 93px;
    padding-top: 13px;
  }

  .form__group:nth-child(4) .form__item:nth-child(even) {
    margin-left: 40px;
  }

  .form__group:nth-child(4) .form__item {
    width: 40%;
    padding-top: 22px;
  }

  .form__group:nth-child(4) .form__item:nth-child(3),
  .form__group:nth-child(4) .form__item:nth-child(4) {
    padding-top: 21px;
  }

  .form__group:nth-child(2) .form__info {
    width: 91%;
  }

  .form__group:nth-child(5) .form__comment {
    width: 100%;
  }

  .form__title {
    font-size: 21px;
    width: 100%;
    margin: 0;
  }

  .form__group:nth-child(4) .form__title {
    width: 50%;
    margin: 0 auto;
    padding-top: 29px;
  }

  .form__group:nth-child(2) .form__title {
    margin: 0;
    padding-top: 35px;
    padding-bottom: 22px;
  }

  .form__group:nth-child(3) .form__title {
    padding-top: 2px;
    padding-bottom: 55px;
    text-align: left;
  }

  .form__group:nth-child(3) .form__item {
    padding-bottom: 52px;
  }

  .form__group:nth-child(3) .form__item:first-child {
    padding-top: 18px;
  }

  .form__group:nth-child(3) .form__label {
    padding-left: 74px;
  }

  .form__group:nth-child(1) .form__title {
    text-align: left;
    padding-top: 2px;
    padding-bottom: 57px;
  }

  .form__group:nth-child(1) .form__info {
    min-width: 100px;
  }

  .form__group .form__title::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 19%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
  }

  .form__group:nth-child(1) .form__title::before {
    content: "";
    position: absolute;
    top: 8px;
    left: -61px;
    width: 1px;
    height: 292px;
    background-color: rgba(0, 0, 0, 0.2);
    display: block;
  }

  .form__group:nth-child(2) .form__title::before {
    top: 46px;
    left: 0;
    display: block;
  }

  .form__group:nth-child(4) .form__title::before {
    top: 54px;
    display: block;
    width: 38%;
    left: -162px;
  }

  .form__group:nth-child(5) .form__title::before {
    top: 55px;
    display: block;
    left: 0;
  }

  .form__title::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 19%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .form__group .form__title::after {
    display: none;
  }

  .form__group:nth-child(2) .form__title::after {
    top: 46px;
    display: block;
  }

  .form__group:nth-child(4) .form__title::after {
    top: 54px;
    display: block;
    width: 38%;
    right: -162px;
  }

  .form__group:nth-child(5) .form__title::after {
    top: 55px;
    display: block;
  }

  .form__checkbox + .form__label::before {
    top: 9px;
  }

  .form__checkbox:checked + .form__label::after {
    top: 8px;
  }

  .form__group:nth-child(5) .form__title {
    padding-top: 42px;
    padding-bottom: 57px;
  }
}

@media (min-width: 1200px) {
  .form {
    width: 1200px;
    padding: 0 120px;
    margin: 0 auto;
    margin-bottom: 104px;
  }

  .form__group:nth-child(1) {
    width: 400px;
  }

  .form__group:nth-child(1) .form__item {
    width: 100%;
  }

  .form__group:nth-child(1) .form__info {
    max-width: 100%;
  }

  .form__group:nth-child(4) .form__list {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 0;
  }

  .form__group:nth-child(4) .form__item {
    width: 205px;
  }

  .form__group:nth-child(4) .form__item:nth-child(2),
  .form__group:nth-child(4) .form__item:nth-child(3) {
    margin-left: 54px;
  }

  .form__group:nth-child(4) .form__item:nth-child(4) {
    margin-left: 33px;
  }

  .form__group:nth-child(2) .form__list {
    display: flex;
    justify-content: space-between;
  }

  .form__group:nth-child(2) .form__item {
    width: 45%;
    flex-direction: row;
  }

  .form__group:nth-child(2) .form__item:first-child {
    width: 400px;
  }

  .form__group:nth-child(2) .form__item:last-child {
    width: 480px;
  }

  .form__group:nth-child(2) .form__info {
    width: 258px;
    margin-left: 15px;
  }

  .form__group:nth-child(2) .form__label {
    padding: 0;
    padding-top: 16px;
  }

  .form__group:nth-child(2) span {
    display: none;
  }

  .form__group:nth-child(2) .form__item:first-child::before {
    top: 0;
    right: 0;
    width: 58px;
    height: 58px;
  }

  .form__group:nth-child(2) .form__item:last-child::before {
    top: 0;
    right: 3px;
    width: 58px;
    height: 58px;
  }

  .form__group:nth-child(2) .form__title {
    padding-bottom: 72px;
  }

  .form__group:nth-child(2) .form__title::before,
  .form__group:nth-child(4) .form__title::before,
  .form__group:nth-child(5) .form__title::before {
    width: 280px;
  }

  .form__group:nth-child(2) .form__title::after,
  .form__group:nth-child(4) .form__title::after,
  .form__group:nth-child(5) .form__title::after {
    width: 280px;
  }

  .form__group:nth-child(4) .form__title::after {
    right: -280px;
  }

  .form__group:nth-child(4) .form__title::before {
    left: -280px;
  }

  .form__group:nth-child(4) .form__title {
    width: 400px;
  }

  .form__group:nth-child(3) .form__title {
    padding-left: 80px;
  }

  .form__group:nth-child(3) .form__label {
    padding-left: 80px;
  }

  .form__radio + .form__label::before {
    left: 5px;
  }

  .form__radio + .form__label::after {
    left: 22px;
  }

  .form__radio:checked + .form__label::after {
    top: 3px;
    left: 22px;
  }
}
