.form {
  background-color: #ffffff;
  padding: 0 20px;
}

.form__group {
  border: none;
  margin: 0;
  padding: 0;
}

.form__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.form__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 24px;
}

.form__item {
  margin: 20px 0;
}
.form__label {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}

.form__label--weight--bold {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: none;
}

.form__info {
  background-color: #f2f2f2;
  border: none;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 22px;
}

.form__info::placeholder {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: none;
}

.form__comment {
  background-color: #f2f2f2;
  border: none;
  padding-top: 16px;
  padding-left: 22px;
  width: 280px;
  min-height: 160px;
}

.form__comment::placeholder {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: none;
}

.form__button {
  border: none;
  text-transform: uppercase;
}
