.intro__content {
  background-color: #ffffff;
}

.intro__header {
  background-color: #d5e7f1;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 388px;
  position: relative;
  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 1536px auto;
  }
}

.intro__header--form,
.intro__header--photo {
  background-color: #d5e7f1;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 100%;
  width: 100%;
  height: 158px;
}

.intro__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 280px;
  height: 215px;
}

.intro__header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -6px;
  width: calc(100% + 7px);
  height: 26px;
  background-image: url("../img/bg-intro-triangle-mobile.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.intro__title {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  padding: 0 32px;
  padding-top: 40px;
  padding-bottom: 28px;
  text-align: center;
}

.intro__title--form {
  padding-top: 37px;
  padding-bottom: 25px;
}

.intro__title--photo {
  padding-top: 37px;
  padding-bottom: 26px;
}

.intro__text {
  margin: 0;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  padding: 0 32px;
  padding-bottom: 24px;
  text-align: center;
}

.intro__text--padding-form {
  padding: 0;
  padding-bottom: 18px;
  width: 280px;
  margin: 0 auto;
  line-height: 24px;
}

.intro__text--photo {
  width: 270px;
  margin: 0 auto;
  padding: 0;
  line-height: 24px;
}

.intro__header picture {
   width: 280px;
   height: 209px;
  }

@media (min-width: 768px) {
  .intro__title {
    font-size: 21px;
    padding: 0 148px;
    padding-top: 50px;
  }

  .intro__text {
    padding-top: 29px;
  }
  
  .intro-form {
    margin-bottom: 72px;
  }
  
  .intro__title--form {
    font-size: 30px;
    padding: 0;
    margin-top: 74px;
    margin-bottom: 31px;
  }

  .intro__title--photo {
    font-size: 30px;
    padding-top: 76px;
    padding-bottom: 2px;
  }

  .intro__text--padding-form {
    padding: 0;
    width: 440px;
    margin: 0 auto;
  }

  .intro__text--photo {
    width: 440px;
  }

  .intro__header {
    background-color: #d5e7f1;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 518px;
    position: relative;
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 768px auto;
    }
  }

  .intro__header--photo,
  .intro__header--form {
    height: 290px;
  }

  .intro__header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: auto;
    width: 100%;
    height: 57px;
    background-image: url("../img/bg-intro-triangle-tablet.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .intro-text--padding-photo {
    width: 480px;
    margin: 0 auto;
  }

  .intro__logo {
   width: 470px;
   height: 354px;
  }
}

@media (min-width: 1200px) {
  .intro__header {
    background-color: #d5e7f1;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 518px;
    position: relative;
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: 2400px auto;
    }
  }

  .intro__header--photo,
  .intro__header--form {
    height: 299px;
  }

  .intro__header::after {
    content: "";
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 57px;
    background-image: url("../img/bg-intro-triangle-desktop.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .intro__title {
  	padding: 0;
  	padding-top: 110px;
  	width: 550px;
  	margin: 0 auto;
  }

  .intro__text--padding-form {
    padding-top: 32px;
  }

  .intro-form {
    margin-bottom: 55px;
  }
}
