.page-footer {
  background-color: #fefefe;
}

.page-footer__hashtag {
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  margin-top: 39px;
}

.page-footer__hashtag--margin-form {
  margin-top: 75px;
}
