.photo {
  background-color: #ffffff;
  list-style: none;
  padding: 0 20px;
  margin: 0;
  padding-top: 51px;
}

.photo__text {
  padding-top: 10px;
  padding-bottom: 39px;
}

.photo__title {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.photo__author {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
  text-transform: none;
}

.photo__sum {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
  padding-left: 12px;
  padding-top: 8px;
}

.photo__likes {
  display: flex;
  position: relative;
}

.photo__button {
  border: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
  background-color: transparent;
}

.photo__button::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 24px;
  height: 24px;
  background-image: url("../img/icon-like.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.photo__item {
  position: relative;
}

.photo__item::before {
  content: "";
  position: absolute;
  top: -23px;
  left: -20px;
  width: 320px;
  height: 1px;
  background-color: rgb(242, 242, 242);
}

@media (min-width: 768px) {
  .photo__wrapper {
    margin: 0;
  }


  .photo__text {
    margin: 0;
    background-color: #f2f2f2;
    display: flex;
    padding-bottom: 17px;
  }

  .photo {
    width: 100%;
    padding: 0 60px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 69px;
  }

  .photo__item:nth-child(1) {
    width: 100%;
  }

  .photo__item:nth-child(2) {
    width: 50%;
  }

  .photo__item:nth-child(3) {
    width: 50%;
  }

  .photo__item:nth-child(4) {
    width: 50%;
  }

  .photo__item:nth-child(3) .photo__text {
    background-color: #eaeaea;
  }

  .photo__likes {
    align-self: center;
    margin-left: auto;
    margin-right: 20px;
  }

  .photo__container {
    margin-left: 20px;
  }
}

@media (min-width: 1200px) {
  .photo {
    width: 1200px;
    padding: 0;
  }

  .photo__item:nth-child(1) {
    width: 100%;
  }

  .photo__item:nth-child(2) {
    width: 33%;
  }

  .photo__item:nth-child(3) {
    width: 33%;
  }

  .photo__item:nth-child(4) {
    width: 33%;
  }

  .photo__item {
    position: relative;
  }

  .photo__text,
  .photo__item:nth-child(3) .photo__text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .photo__title {
    color: #ffffff;
  }

  .photo__author {
    color: #ffffff;
  }

  .photo__sum {
    color: #ffffff;
  }
}
