.search-hotel {
  background-color: #ffffff;
}

.search-hotel__title {
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  display: block;
  padding-top: 30px;
}

.search-hotel__description {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
  text-align: center;
  margin-top: 25px;
}

@media (min-width: 768px) {
  .search-hotel {
    padding: 0 60px;
  }
}