.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-list__link {
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2;
  padding: 8px 0;
  text-align: center;
  display: block;
  width: 100%;
  height: 56px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
}

.site-list__item:last-child {
  position: relative;
}

.site-list__item:last-child::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3px;
  box-shadow: inset 0 -2px 1px 0 rgba(0, 0, 0, 0.35);
}

.site-list__link:not(.site-list__link--active):hover,
.site-list__link:not(.site-list__link--active):focus {
  background-color: #669ec0;
}

.site-list__link:not(.site-list__link--active):active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

@media (max-width: 767px) {
  .main-nav--closed .site-list {
    display: none;
  }
}

@media (min-width: 768px) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: auto;
  }

  .site-list__item {
    width: 153px;
  }

  .site-list__item:nth-child(2) {
    margin-right: 153px;
  }

  .site-list__item .site-list__link {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    background-color: #ffffff;
    padding: 15px 0;
    border: none;
  }

  .site-list__item .site-list__link:hover,
  .site-list__item .site-list__link:focus {
    color: #81b3d2;
    background-color: #ffffff;
  }

  .site-list__item .site-list__link:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
  }

  .site-list__item:last-child::after {
    display: none;
  }

  .site-list__item .site-list__link--active {
    color: #766357;
    background-color: #ffffff;
  }

  .site-list__item .site-list__link--active:hover,
  .site-list__item .site-list__link--active:focus {
    color: #604e43;
    background-color: #ffffff;
  }

  .site-list__item .site-list__link--active:active {
    color: rgba(118, 99, 87, 0.3);
    background-color: #ffffff;
  }
}

@media (min-width: 1200px) {
  .site-list__item {
    width: 240px;
  }

  .site-list__item:nth-child(2) {
    margin-right: 240px;
  }
}
