.social {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  margin-top: 39px;
  text-align: center;
  width: 151px;
  display: flex;
  justify-content: space-between;
}

.social__item {
  width: 46px;
  height: 46px;
  background-color: #81b3d2;
}

@media (min-width: 768px) {
  .social {
    margin-top: 0;
  }
}