.video {
  background-color: #ffffff;
  margin-bottom: 175px;
  position: relative;
}

.video::before {
  content: "";
  position: absolute;
  top: -22px;
  left: 0;
  width: 320px;
  height: 1px;
  background-color: rgb(242, 242, 242);
}

.video__wrapper-text {
  padding: 0 20px;
}

.video__title {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  padding-top: 10px;
}

.video__text {
  margin: 0 auto;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
  text-align: center;
  padding-top: 27px;
  width: 252px;
}

.video__wrapper-video {
  padding-top: 35px;
  position: relative;
  width: 320px;
  height: 202px;
}

.video__control-panel {
  padding: 0 20px;
  width: 100%;
  height: 42px;
  position: absolute;
  bottom: -32px;
}

.video__time-control {
  background-color: rgba(0, 0, 0, 0.6);
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 22px;
  height: 44px;
  position: relative;
}

.video__toggle {
  position: absolute;
  top: 19px;
  left: 58px;
  border: none;
  width: 9px;
  height: 9px;
  cursor: pointer;
  border-radius: 50%;
  padding: 0;
}

.video__time-scale {
  width: 100%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.2);
}

.video__function-control {
  background-color: #f2f2f2;
  height: 66px;
}

.video__replay {
  margin-left: 21px;
  margin-top: 21px;
  width: 22px;
  height: 22px;
  border: none;
  background-color: transparent;
  background-image: url("../img/icon-video-replay.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
}

.video__replay:hover,
.video__replay:focus {
  background-image: url("../img/icon-video-replay-hover.svg");
}

.video__replay:active {
  opacity: 0.3;
}

.video__titles {
  margin-left: 126px;
  margin-top: 22px;
  width: 32px;
  height: 22px;
  border: none;
  background-color: transparent;
  background-image: url("../img/icon-video-subtitles.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
}

.video__titles:hover,
.video__titles:focus {
  background-image: url("../img/icon-video-subtitles-hover.svg");
}

.video__titles:active {
  opacity: 0.3;
}

.video__full-window {
  margin-left: 27px;
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  background-image: url("../img/icon-video-fullscreen.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
}

.video__full-window:hover,
.video__full-window:focus {
  background-image: url("../img/icon-video-fullscreen-hover.svg");
}

.video__full-window:active {
  opacity: 0.3;
}

@media (min-width: 768px) {
  .video {
    margin-bottom: 77px;
  }

  .video__wrapper-video {
    width: 648px;
    height: 500px;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 0;
    position: relative;
  }

  .video__wrapper-video img {
    position: absolute;
    lift: -76px;
  }

  .video__title {
    font-size: 30px;
    padding-top: 68px;
  }

  .video__text {
    width: 440px;
    padding-top: 31px;
    padding-bottom: 72px;
  }

  .video__control-panel {
    padding: 0;
    height: 92px;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .video__time-control {
    background-color: transparent;
    padding: 0;
    padding-top: 45px;
    width: 60%;
    margin-left: 14%;
  }

  .video__toggle {
    top: 41px;
    left: 30%;
  }

  .video__function-control {
    background-color: transparent;
    position: relative;
  }

  .video__replay {
    position: absolute;
    top: -32px;
    margin-left: 5%;
    background-image: url("../img/icon-video-replay-tab.svg");
  }

  .video__replay:hover,
  .video__replay:focus {
    background-image: url("../img/icon-video-replay-tab.svg");
    opacity: 0.6;
  }

  .video__replay:active {
    background-image: url("../img/icon-video-replay-tab.svg");
    opacity: 0.3;
  }

  .video__titles {
    margin-left: 81%;
    position: absolute;
    top: -32px;
    background-image: url("../img/icon-video-subtitles-tab.svg");
  }

  .video__titles:hover,
  .video__titles:focus {
    background-image: url("../img/icon-video-subtitles-tab.svg");
    opacity: 0.6;
  }

  .video__titles:active {
    background-image: url("../img/icon-video-subtitles-tab.svg");
    opacity: 0.3;
  }

  .video__full-window {
    margin-left: 91%;
    position: absolute;
    top: -9px;
    background-image: url("../img/icon-video-fullscreen-tab.svg");
  }

  .video__full-window:hover,
  .video__full-window:focus {
    background-image: url("../img/icon-video-fullscreen-tab.svg");
    opacity: 0.6;
  }

  .video__full-window:active {
    background-image: url("../img/icon-video-fullscreen-tab.svg");
    opacity: 0.3;
  }

  .video::before {
    display: none;
  }
}

@media (min-width: 1200px) {
  .video__wrapper-video {
    width: 800px;
  }

  .video {
    margin-bottom: 122px;
  }

  .video__time-control {
    width: 540px;
    margin-left: 91px;
  }

  .video__replay {
    margin-left: 32px;
  }

  .video__toggle {
    left: 113px;
  }

  .video__titles {
    margin-left: 674px;
  }

  .video__full-window {
    margin-left: 736px;
  }
}
