@import "normalize.scss";

@font-face {
  font-family: "PT Sans";
  src:
    local("PT Sans Regular"),
    url ("fonts/ptsans.woff") format("woff"),
    url ("fonts/ptsans.woff2") format("woff2");
    font-weight: normal;
}

@font-face {
  font-family: "PT Sans";
  src:
    local("PT Sans Bold"),
    url ("fonts/ptsansbold.woff") format("woff"),
    url ("fonts/ptsansbold.woff2") format("woff2");
    font-weight: bold;
}

body { 
  margin: 0;
  padding: 0;
  font-family: "PT Sans", 
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #ffffff;
  text-transform: uppercase;
  width: 320px;
  margin: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
 display: none;
}

@import "blocks/main-nav.scss";
@import "blocks/intro.scss";
@import "blocks/main-page.scss";
@import "blocks/footer.scss";
@import "blocks/form.scss";
@import "blocks/modal.scss";
@import "blocks/photo.scss";
@import "blocks/video.scss";